OPENAI_API_KEY=your_key
OPENAI_IMAGE_MODEL=gpt-image-2
OPENAI_IMAGE_QUALITY=low

GENERATE_VARIATIONS=true
VARIATION_COUNT=4

NEW_MENTION=@PrimeAnalysiss

SOURCE_CHANNEL=-1003593544389
TARGET_CHANNEL=-1004415621706

POLL_INTERVAL=3

BOT_TOKEN=your_bot_token
API_ID=your_api_id
API_HASH=your_api_hash
PHONE_NUMBER=your_phone
TELEGRAM_SESSION=your_string_session
